body {
	background: url('/dist/images/slider/bg4.jpg') no-repeat;
}

#appSection {
	height: 650px
}

#appFooter {
	height: 300px;
	background-color: #0A1318
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}